.articles
  margin-top: 10px

  &__list
    display: flex
    justify-content: space-between
    flex-wrap: wrap

  &__el
    width: 230px

    +r(768)
      width: 48%
      margin-bottom: 20px

    +r(540)
      width: 100%

  &.small

    .articles__el
      margin-bottom: 15px
      width: 200px

      +r(768)
        width: 48%
        margin-bottom: 20px

      +r(540)
        width: 100%

    .article

      &__descr
        padding: 12px 15px 10px 15px

      &__link
        display: block
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap

.article
  width: 100%
  border: 1px solid #eaeaea
  cursor: pointer
  transition: $general-transition

  &:hover
    .article__link
      text-decoration: none
      color: $textLink

  &__link
    font-size: 14px
    color: $textGreyDark
    transition: $general-transition
    +h300

  &__img
    position: relative

  &__tag
    position: absolute
    left: 0
    bottom: 4px
    padding: 0 15px
    height: 24px
    line-height: 24px
    color: #fff
    background-color: #000
    opacity: .6

  &__descr
    padding: 12px 15px 18px 15px

  &__term
    display: inline-block
    padding-top: 10px
    font-size: 12px
    color: $textGreyLight
    +h300

.article-main
  position: relative
  margin-bottom: 20px
  transition: $general-transition

  &:hover
    .preview__title
      text-decoration: underline

  &__link
    display: block

  .preview
    position: absolute
    left: 0
    bottom: 0