.aside
  margin-left: 30px
  +r(1024)
    margin-left: 0

  &__box
    margin-bottom: 20px

    .title
      padding-bottom: 7px
      border-bottom: 1px solid #eaeaea

    .article
      padding: 14px 0

      &__left
        margin-right: 13px

    .list__el
      padding-bottom: 0

  .banner
    margin-bottom: 15px
    display: inline-block