.breadcrumbs
  display: flex
  flex-direction: row

  &__el
    position: relative
    padding-right: 26px

    +r(550)
      padding-right: 18px
      &:last-child
        display: none

    &:after,
    &:before
      position: absolute
      content: ''
      right: 12px
      width: 1px
      height: 5px
      background-color: #7d7d7d

      +r(550)
        right: 8px

    &:before
      top: 5px
      transform: rotate(-45deg)
      +r(550)
        top: 7px

    &:after
      bottom: 5px
      transform: rotate(45deg)
      +r(550)
        bottom: 3px

    &:last-child
      padding-right: 0
      a
        color: #68767d
        pointer-events: none
        +h300

      &:after,
      &:before
        display: none

    +r(550)
      &:nth-child(4)
        &:after,
        &:before
          display: none

  &__link,
  &__link:visited
    color: $textGreyDark
    font-size: 13px
    letter-spacing: 0
    +h400

    +r(768)
      font-size: 12px

    +r(550)
      font-size: 11px

    &:hover
      text-decoration: underline