.content
  padding-top: 10px
  padding-bottom: 70px

  &__wrap
    display: flex
    justify-content: space-between

    +r(1024)
      flex-direction: column

  &__left
    width: 69%
    +r(1024)
      margin-right: 0
      margin-bottom: 30px
      width: 100%

  &__right
    width: 31%

    +r(1024)
      width: 100%

  &.is-main

    .content__wrap
      padding-bottom: 30px

    .aside__box
      margin: 0

    .block-head__right
      +r(550)
        display: none

  &.is-sidebar

    .content

      &__wrap
        padding-top: 15px

      &__left
        width: 290px
        margin-right: 40px
        flex-shrink: 0

        +r(1024)
          display: none

      &__right
        flex-basis: 100%

        +r(1024)
          width: 100%

    .tabs
      margin-top: 0

      &__el
        padding: 6px 25px 14px

        +r(550)
          font-size: 12px

  &.is-3-inner
    .banner
      margin-bottom: 0

  &.is-5-inner
    padding-top: 20px

    .title__subtitle
      +r(768)
        display: inline-block
        margin-top: 5px

  &.is-6-inner

    .row__wrap
      margin-bottom: 12px
      padding-top: 10px
      padding-bottom: 25px

    .aside
      padding-top: 15px

