.detailed-info
  margin-top: 27px
  margin-bottom: 20px
  +r(768)
    margin-top: 0

  +r(550)
    .list
      flex-direction: column

  .section-title
    margin-bottom: 25px

  .list__el
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 7px
    margin-right: 29px
    font-size: 13px
    color: $textGreyDark

    +r(550)
      margin-right: 0

    &:last-child
      margin-right: 0

    span
      margin-left: 7px

    a
      color: $textLink

  .list__version
    margin-left: 7px