.info
  +clr()

  &__title
    display: block
    padding-bottom: 10px
    font-size: 16px
    color: $textGreyDark
    +h700

  &__descr
    margin-bottom: 17px
    font-size: 13px
    line-height: 20px
    color: $textGreyDark
    +h400

  .info-text
    padding-top: 17px
    padding-bottom: 10px
    text-align: justify

