.container
  position: relative
  margin: 0 auto
  width: 1060px
  +r(1200)
    width: 980px

  +r(1024)
    width: 760px
    padding: 0 20px

  +r(768)
    width: 100%

.header
  background-color: $bgBlue
  +r(768)
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 500

  &__wrap
    height: $headerHeight
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

  &__left
    .hamburger
      display: none
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)

      +r(1024)
        display: inline-block
        z-index: 10

  &__center
    +r(1024)
      display: none

  &__right
    display: flex
    align-items: center

  .logo
    position: relative
    top: 2px
    +r(1024)
      left: 50px
      z-index: 11

.footer
  background-color: $bgBlue

  &__wrap
    padding: 15px 0
    display: flex
    flex: 1
    justify-content: space-between
    align-items: center

    +r(1024)
      flex-direction: column-reverse

  &__left
    +r(1024)
      margin-top: 5px