.container
  position: relative
  margin: 0 auto
  width: 1060px
  +r(1200)
    width: 980px

  +r(1024)
    width: 760px
    padding: 0 20px

  +r(768)
    width: 100%

.header
  background-color: $bgBlue

  &__wrap
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

    //+r(1200)
    //  flex-direction: column

  &__left
    .hamburger
      display: none
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)

      +r(1024)
        display: inline-block
        z-index: 10

  &__center
    +r(1024)
      display: none

  &__right
    display: flex
    align-items: center

  .logo
    position: relative
    top: 2px
    +r(1024)
      left: 50px
      z-index: 11

  &.lite
    .header__wrap
      justify-content: normal

    .header__left
      margin-right: 30px

.content
  padding-top: 10px
  padding-bottom: 70px

  &__wrap
    display: flex
    justify-content: space-between

    +r(1024)
      flex-direction: column

  &__left
    width: 69%
    +r(1024)
      margin-right: 0
      margin-bottom: 30px
      width: 100%

  &__right
    width: 31%

    +r(1024)
      width: 100%

  &.is-main
    .content__wrap
      padding-bottom: 30px

    .aside__box
      margin: 0

  &.sidebar

    .aside
      margin-left: 0

    .content

      &__wrap
        padding-top: 15px

      &__left
        width: 22%
        margin-right: 40px

      &__right
        width: 76%

    .tabs
      margin-top: 0

      &__el
        padding: 6px 27px 14px

.footer
  background-color: $bgBlue

  &__wrap
    padding: 15px 0
    display: flex
    flex: 1
    justify-content: space-between
    align-items: center

    +r(1024)
      flex-direction: column