.main
  flex: 1 1 auto

  &.is-main
    .content
      padding-top: 25px

    .aside__box
      margin-top: 0

  //&.is-main
  //  padding-top: 220px
  //  padding-bottom: 190px
  //  background: url('../img/background-stars.png') no-repeat top center
  //  background-size: cover
  //  background-color: $bgBlue

  &.is-info
    padding-top: 22px
    padding-bottom: 118px

  &.is-download
    padding-top: 60px
    padding-bottom: 190px
    a
      color: $textLink

  &.is-error
    padding-top: 100px
    padding-bottom: 150px
    background: url('../img/bg-404.png') no-repeat
    background-size: cover

  &.is-5-inner

    h2
      display: block
      padding-bottom: 10px
      font-size: 16px
      color: $textGreyDark
      +h700

    p
      margin-bottom: 25px
      font-size: 13px
      line-height: 20px
      color: $textGreyDark
      text-align: justify
      +h400

    img
      float: right
      margin-left: 25px

      +r(550)
        width: 100%
        margin-left: 0

    a
      color: $textLink