.mobile-menu
  width: 250px
  height: calc(100% - 63px)
  background-color: #0aa5f5
  position: fixed
  top: $headerHeight
  left: -100%
  transition: all .35s ease-in-out
  z-index: 500

  &__top
    padding: 20px

  &__list
    text-align: center

  &__el
    height: 50px
    line-height: 50px

  &__link
    color: #fff
    text-transform: uppercase

  .search
    display: none
    +r(600)
      display: block
      width: 100%


  &.is-open
    left: 0