.preview
  padding: 27px 35px 40px 31px
  color: $textGreyDark
  background-color: rgba(255,255,255,.9)

  +r(768)
    padding: 20px 20px

  &__title
    margin-bottom: 15px
    font-size: 28px
    +h700

    +r(1200)
      font-size: 25px

    +r(768)
      font-size: 20px

    +r(550)
      font-size: 14px

  &__descr
    font-size: 16px
    +h300

    +r(768)
      font-size: 14px

    +r(550)
      font-size: 12px
