.pre-footer
  padding-bottom: 40px
  padding-top: 21px
  border-top: 1px solid #e3e3e3

  &.is-main
    padding-top: 130px
    background: url('../img/clouds.png') no-repeat top center
    background-size: cover
    border-top: none

  &__right
    margin-top: 5px

  &__flex
    display: flex
    justify-content: space-between
    align-items: flex-start

  &__wrap
    display: flex
    flex-direction: row

  .list
    margin-right: 57px