.product
  display: flex
  flex-direction: row
  align-items: center

  &__left
    margin-right: 25px

  &__title

    h1
      display: inline

    .release
      margin-left: 5px
      font-size: 16px
      color: $textGreyLight

      +r(768)
        margin-left: 0

    .subtitle
      font-size: 28px
      color: $textGreyLight
      +h300

  &__author,
  &__regular
    font-size: 13px
    +h400

    a
      color: $textLink

  &__rating
    padding-top: 6px
    letter-spacing: .4px

  &__img
    width: 80px

  &__text
    margin-top: 5px