.software
  padding: 20px 0
  display: flex
  align-items: center
  border-bottom: 1px solid #eaeaea
  cursor: pointer
  transition: $general-transition

  &:hover
    text-decoration: none

    .software__title
      color: $textLink

  &__left
    width: 38px
    height: 38px
    min-width: 38px
    margin-right: 15px

  &__center
    margin-right: 30px
    width: 74%

  &__subtitle
    margin-left: 7px
    font-size: 12px
    color: #68767d
    +h300

  &__descr
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

  &__title
    color: $textGreyDark
    font-size: 16px
    +h700

  &__descr
    font-size: 13px
    color: $textGreyDark
    +h300

  &__subtitle
    font-size: 12px
    color: #68767d
    +h300

  &__more
    margin-top: 11px
    text-align: center

  &__btn
    text-align: center
    width: 126px
    height: 30px
    line-height: 30px
    background-color: #45b54d
    border: 1px solid #45b54d
    color: #fff
    cursor: pointer
    &:hover
      background-color: #3cc044
      border-color: #3cc044