<div class="pre-footer">
  <div class="container">
    <div class="pre-footer__flex">
      <div class="pre-footer__left">
        <div class="pre-footer__wrap">
          <div class="list">
            <span class="list__name">About Us</span>
            <ul class="list__items">
              <li class="list__el">
                <a href="#" class="list__link">RocketFiles</a>
              </li>
              <li class="list__el">
                <a href="#" class="list__link">Help & Support</a>
              </li>
              <li class="list__el">
                <a href="#" class="list__link">Legal Information</a>
              </li>
              <li class="list__el">
                <a href="#" class="list__link">Software Policy</a>
              </li>
            </ul>
          </div><!-- end list -->
          <div class="list">
            <span class="list__name">Partners</span>
            <ul class="list__items">
              <li class="list__el">
                <a href="#" class="list__link">Ticket Crab</a>
              </li>
              <li class="list__el">
                <a href="#" class="list__link">Plumbytes Software</a>
              </li>
            </ul>
          </div><!-- end list -->
          <div class="list">
            <span class="list__name">Help</span>
            <ul class="list__items">
              <li class="list__el">
                <a href="#" class="list__link">FAQ</a>
              </li>
            </ul>
          </div><!-- end list -->
        </div><!-- end pre-footer__wrap -->
      </div>
      <div class="pre-footer__right">
        <div class="social">
          <ul class="social__list">
            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico is-fb"></i>
              </a>
            </li>
            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico is-tw"></i>
              </a>
            </li>
            <li class="social__el">
              <a href="#" class="social__link">
                <i class="ico is-gp"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- end pre-footer__flex -->
  </div><!-- end container -->
</div><!-- end pre-footer -->

<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <div class="copyright">
				<span class="copyright__descr">© 2017 RocketFiles. All rights reserved.</span>
        </div>
      </div>
      <div class="footer__right">
        <div class="logo">
          <a href="#" class="logo__link">
            <img class="logo__img"
                 src="img/logo_rocketfiles.svg"
                 alt="Rocketfiles logo"/>
          </a>
        </div><!-- end logo -->
      </div>
    </div>
  </div>
</footer><!-- end footer -->