<div class="mobile-menu">
  <div class="mobile-menu__top"></div>
  <div class="mobile-bottom">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">Windows</a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">Drivers</a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">Mac</a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">Android</a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">Q&A</a>
      </li>
      <li class="mobile-menu__el">
        <a href="#" class="mobile-menu__link">News</a>
      </li>
    </ul>
  </div>
</div><!-- end mobile-menu -->